import _healthcheck_util

_services = ['$srvname']

SERVICE_PORT = $port

def check(params):
    port = int(params['port'] if 'port' in params else SERVICE_PORT)
    _healthcheck_util.set_alarm(5)
    return _healthcheck_util.check_http('http://localhost:%d/status' % port)

# vim: ts=4 expandtab
