.git
.tox
build

# It is possible a user has their own virtualenv here,
# but we don't want it to pollute the docker context because
# it will get built inside.
virtualenv_run
venv
tests
itests
docs
tools

# y/ycp
.ycp_playground
playground
docker-venv
.activate.sh
.deactivate.sh

# we don't need to send all the Debian package builds to Docker for the paasta service
yelp_package
