*.py[co]
*.so
*.sw[nop]
.#*
.DS_Store
._*
\#*\#
build
dist
*~
*.log
.coverage
precomputed
.pydevproject
.project
*.sublime-*
virtualenv_run
.tox
*.egg-info/
__pycache__
version
.ycp_playground
playground
docker-venv
.cache
.pytest_cache/
.mypy_cache/
package/itest/autoscaler_config.yaml
package/itest/autoscaler_config.tmpl
package/itest/run_instance.py
package/itest/trusty/*
package/itest/xenial/*
package/itest/bionic/*
/completions/[a-zA-Z]*
