.*.sw?
*.py?
/build/
/dist/
.venv
*.egg-info/
.tox
.bash_history
/docs/build
src/debian/files

paasta-tools_*.dsc
paasta-tools_*.tar.gz
paasta-tools_*_amd64.changes
paasta-tools_*_amd64.deb
src/debian/paasta-tools.debhelper.log
src/debian/paasta-tools.substvars
src/debian/paasta-tools/
src/virtualenv_run/
tags
