a-sync >= 0.5.0
aiohttp >= 3.2.1
argcomplete >= 0.8.1
boto3
botocore
bravado >= 8.4.0
choice >= 0.1
chronos-python >= 1.2.0
cookiecutter >= 1.4.0
croniter
# Don't update this unless you have confirmed the client works with
# the Docker version deployed on PaaSTA servers
docker-py >= 1.2.3
dulwich >= 0.17.3
ephemeral-port-reserve >= 1.0.1
gevent >= 1.1.1
graphviz
gunicorn
humanize >= 0.5.1
inotify >= 0.2.8
isodate >= 0.5.0
jsonschema[format]
kazoo >= 2.0.0
kubernetes
manhole
marathon >= 0.9.3
mypy-extensions >= 0.3.0
objgraph
progressbar2 >= 3.10.0
pymesos >= 0.2.0
pyramid >= 1.8
pyramid-swagger >= 2.3.0
pysensu-yelp >= 0.3.4
PyStaticConfiguration
python-crontab>=2.1.1
python-dateutil >= 2.4.0
python-iptables
pytimeparse >= 1.1.0
pytz >= 2014.10
requests >= 2.18.4
requests-cache >= 0.4.10,<= 0.5.0
retry
ruamel.yaml
sensu-plugin
service-configuration-lib >= 0.12.0
slackclient >= 1.2.1
syslogmp
task-processing
transitions
typing-extensions
tzlocal
ujson >= 1.35
utaw >= 0.2.0
wsgicors
yelp-clog >= 2.7.2
