coverage
# VSCode debugging requirement
# See https://code.visualstudio.com/docs/python/debugging#_local-script-debugging
debugpy
docutils
flake8
freezegun
hypothesis
mypy
path.py
pep8
pre-commit
pyfakefs
pytest
pytest-asyncio
requirements-tools
Sphinx
sphinx-rtd-theme
tomli-w
types-cachetools
types-croniter
types-python-dateutil
types-pytz
types-pyyaml
types-requests
types-retry
zake
