a-sync >= 0.5.0
aiohttp >= 3.5.4
argcomplete >= 0.8.1
boto
boto3
boto3-type-annotations
botocore
bravado >= 10.2.0
certifi
choice >= 0.1
containerd
cookiecutter >= 1.4.0
croniter
docker
dulwich >= 0.17.3
ephemeral-port-reserve >= 1.0.1
graphviz
grpcio
gunicorn
humanfriendly
humanize >= 0.5.1
inotify >= 0.2.8
ipaddress >= 1.0.22
isodate >= 0.5.0
jsonschema[format]
kazoo >= 2.0.0
# the upper-bound here is mainly for things that use paasta-tools as a library and don't benefit
# from our pinned-dependencies. The upper-bound should generally be the latest kubernetes version
# that we can use across our different clusters (e.g, if X.0.0 removes an API version that we use
# in any cluster, this upper-bound should be < X.0.0)
# we should probably also be better at setting a correct lower-bound, but that's less likely to cause issues.
kubernetes >= 18.20.0, < 22.0.0
ldap3
manhole
mypy-extensions >= 0.3.0
nats-py
nulltype
objgraph
ply
progressbar2 >= 3.10.0
prometheus-client
pymesos >= 0.2.0
pyramid >= 1.8
pyramid-swagger >= 2.3.0
pysensu-yelp >= 0.3.4
PyStaticConfiguration
python-crontab>=2.1.1
python-dateutil >= 2.4.0
python-iptables
pytimeparse >= 1.1.0
pytz >= 2014.10
# the upper-bound is required for older docker-py (<=7.0.0)
# to function: https://github.com/psf/requests/issues/6707
requests >= 2.18.4, <2.32.0
requests-cache >= 0.4.10
retry
ruamel.yaml
sensu-plugin
service-configuration-lib >= 2.18.21
signalfx
slackclient >= 1.2.1
sticht >= 1.1.0
syslogmp
task-processing
thriftpy2
transitions
typing-extensions
tzlocal
urllib3
utaw >= 0.2.0
wsgicors
