#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS


%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --pypi-url='http://pypi.yelpcorp.com/simple' --python=/usr/bin/python2.7
