asn1crypto==1.5.1                   # vault-tools dependency
atomicfile==1.0                     # vault-tools dependency
cached-property==1.3.1              # slo-transcoder dependency
cffi==1.15.0                        # vault-tools dependency
clusterman_metrics==2.2.2
crypto-lib==4.0.0                   # vault-tools dependency
cryptography==44.0.2                # vault-tools dependency
dateglob==1.1.1                     # scribereader dependency
geogrid==2.2.0                      # scribereader dependency
gitdb==4.0.12                       # slo-transcoder, vault-tools dependency
gitdb2==2.0.5                       # slo-transcoder dependency
gitpython==3.1.44                   # slo-transcoder, vault-tools dependency
hvac==1.2.1                         # vault-tools dependency
inflection==0.5.1                   # slo-transcoder dependency
iso8601==2.1.0                      # yelp-ips dependency
logreader==1.2.0
markdown==3.7                       # slo-transcoder dependency
monk==3.0.6                         # yelp-clog dependency
ndg-httpsclient==0.5.1              # vault-tools dependency
okta-auth==1.0.4
pycparser==2.22                     # vault-tools dependency
pygpgme==0.3                        # vault-tools dependency
pyhcl==0.4.5                        # vault-tools dependency
pyjwt==2.10.1                       # okta-auth dependency
pyopenssl==25.0.0                   # vault-tools dependency
PyStaticConfiguration==0.11.1       # srv-configs dependency
PySubnetTree==0.37                  # yelp-lib dependency
python-jsonschema-objects==0.5.7    # slo-transcoder dependency
saml-helper==2.5.3                  # okta-auth dependency
scribereader==1.1.3
signalform-tools==0.0.17            # slo-transcoder dependency
slo-transcoder==3.3.1
smmap==5.0.2                        # slo-transcoder, vault-tools dependency
smmap2==2.0.5                       # slo-transcoder, vault-tools dependency
splunk-sdk==2.1.0                   # sticht dependency
srv-configs==1.4.0                  # yelp-profiling dependency
sticht[yelp_internal]==1.2.1
tenacity==9.0.0                     # yelp-clog dependency
vault-tools==1.5.0
yelp-cgeom==1.3.1                   # scribereader dependency
yelp-clog==7.2.1
yelp-ips==1.1.1                     # yelp-profiling dependency
yelp-lib==17.1.7                    # yelp-ips dependency
yelp-logging==5.3.5                 # scribereader dependency
yelp_meteorite==2.3.2
yelp_profiling==9.2.5
