atomicfile==1.0                     # vault-tools dependency
cached-property==1.3.1              # slo-transcoder dependency
cffi==1.15.0                        # vault-tools dependency
clusterman_metrics==2.2.0
crypto-lib==4.0.0                   # vault-tools dependency
cryptography==3.0                   # vault-tools dependency
dateglob==0.3                       # scribereader dependency
geogrid==1.3.5                      # scribereader dependency
gitdb2==2.0.3                       # slo-transcoder dependency
gitpython==2.1.9                    # slo-transcoder, vault-tools dependency
hvac==1.2.1                         # vault-tools dependency
inflection==0.3.1                   # slo-transcoder dependency
iso8601==2.1.0                      # yelp-ips dependency
logreader==1.3.0
markdown==2.4                       # slo-transcoder dependency
monk==1.3.0                         # yelp-clog dependency
mrjob==0.7.4                        # scribereader dependency
named-decorator==0.1.4              # yelp-profiling dependency
ndg-httpsclient==0.4.3              # vault-tools dependency
okta-auth==1.0.1
pycparser==2.20                     # vault-tools dependency
pygpgme==0.3                        # vault-tools dependency
pyjwt==2.9.0                        # okta-auth dependency
pyopenssl==19.0.0                   # vault-tools dependency
PySubnetTree==0.34                  # yelp-lib dependency
python-jsonschema-objects==0.3.1    # slo-transcoder dependency
saml-helper==2.3.3                  # okta-auth dependency
scribereader==1.1.1
signalform-tools==0.0.16            # slo-transcoder dependency
slo-transcoder==3.3.0
smmap2==2.0.3                       # slo-transcoder, vault-tools dependency
splunk-sdk==1.7.0                   # sticht dependency
srv-configs==1.1.0                  # yelp-profiling dependency
sticht[yelp_internal]==1.2.1
tenacity==8.3.0                     # yelp-clog dependency
vault-tools==1.6.0
yelp-cgeom==1.3.1                   # scribereader dependency
yelp-clog==7.1.5
yelp-ips==1.1.1                     # yelp-profiling dependency
yelp-lib==17.1.2                    # yelp-ips dependency
yelp-logging==1.0.37                # scribereader dependency
yelp_meteorite==2.3.2
yelp_profiling==9.1.1
