#!/usr/bin/make -f
# -*- makefile -*-
ifneq ($(shell echo ${TRAVIS}),true)
	YELP_DH_VIRTUALENV = --index-url='https://pypi.yelpcorp.com/simple' --preinstall=-rrequirements-bootstrap.txt --pip-tool=pip-custom-platform --extra-pip-arg --only-binary=:all:
	YELP_DH_INSTALL = install -d completions/usr debian/package/.
endif

%:
	dh $@ --with python-virtualenv

override_dh_virtualenv:
	dh_virtualenv --python python3.7 $(YELP_DH_VIRTUALENV)

override_dh_install:
	dh_install
	$(YELP_DH_INSTALL)

override_dh_shlibdeps:
	dh_shlibdeps --exclude matplotlib --exclude numpy
