#!/usr/bin/make -f
# -*- makefile -*-

PIP_INDEX_URL ?= https://pypi.python.org/simple

%:
	dh $@ --with python-virtualenv

# do not call `make clean` as part of packaging
override_dh_auto_clean:
	true

override_dh_auto_build:
	true

# do not call `make test` as part of packaging
override_dh_auto_test:
	true

override_dh_virtualenv:
	dh_virtualenv -i $(PIP_INDEX_URL) --python=/usr/bin/python3.6 --preinstall no-manylinux1 --preinstall pip==18.1 --preinstall pip-custom-platform --pip-tool pip-custom-platform
