---
name: paasta-ci

on:
  push:
    branches:
      - master
  pull_request:
  release:

jobs:
  tox:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        toxenv:
          - py37-linux,docs,mypy,tests
          - general_itests
    env:
      PIP_INDEX_URL: https://pypi.python.org/simple
      DOCKER_REGISTRY: ""
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: python -m pip install --upgrade pip
      - run: pip install coveralls tox==3.2 tox-pip-extensions==1.3.0 ephemeral-port-reserve
      - run: tox -i https://pypi.python.org/simple -e ${{ matrix.toxenv }}
  k8s_itests:
    runs-on: ubuntu-20.04
    env:
      DOCKER_REGISTRY: ""
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: python -m pip install --upgrade pip virtualenv
      - run: curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl && chmod +x kubectl && sudo mv kubectl /usr/local/bin/
      - run: python -m pip install --upgrade pip
      - run: pip install coveralls tox==3.2 tox-pip-extensions==1.3.0 ephemeral-port-reserve
      - run: make k8s_itests
  build_debs:
    runs-on: ubuntu-20.04
    strategy:
      fail-fast: false
      matrix:
        dist: [bionic, jammy]
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.7
      - run: sudo apt-get update
      - run: sudo apt-get install -yq devscripts
      - run: make itest_${{ matrix.dist }}
      - uses: actions/upload-artifact@v3

        with:
          name: deb-${{ matrix.dist }}
          path: dist/paasta-tools_*.deb
  cut_release:
    runs-on: ubuntu-22.04
    needs: build_debs
    steps:
      - uses: actions/checkout@v2
      - run: mkdir -p dist/
      - uses: actions/download-artifact@v3
        with:
          name: deb-bionic
          path: dist/
      - uses: actions/download-artifact@v3
        with:
          name: deb-jammy
          path: dist/
      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/v')
        with:
          files: |
            dist/paasta-tools_*.deb
          fail_on_unmatched_files: true
